<!-- Footer -->
<br /><br /><br />
<footer class="footer-color w3-center w3-padding-32" style="background-color: black; color:#777;">
    <a href="#home" class="custom-button w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>Retourner en haut du site</a>
    <p>Website by Maxime D.<br>&copy;<%= new Date().getFullYear(); %> tpe-micropesanteur - v7.0 - <a href="mailto:xam4lor@gmail.com" title="email" class="w3-hover-text-green">xam4lor@gmail.com</a></p>
</footer>
</body>
</html>
