<!DOCTYPE html>
<html>
	<head>
		<title>Voyager dans l’espace ? Possible ... mais à quel prix ? - TPE micropesanteur</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<meta name="description" content="TPE sur 'Voyager dans l'espace ? Possible ... mais à quel prix ?'" />
		<meta name="keywords" content="tpe micropesanteur microgravité apesanteur espace voyage mars spaceX futur santé danger" />
		<meta name="Resource-type" content="Document">

		<link rel="icon" type="image/png" href="/imgs/favicon.ico" />

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="https://www.w3schools.com/lib/w3-theme-black.css">
		<link rel="stylesheet" type="text/css" href="/jquery/twentytwenty.css" />
		<link rel="stylesheet" type="text/css" href="/css/main-css.css">

		<script src="https://www.youtube.com/iframe_api"></script>
		<script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=default'></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="/jquery/jquery.event.move.js"></script>
		<script type="text/javascript" src="/jquery/jquery.twentytwenty.js"></script>
		<script type="text/javascript" src="/js/main-script.js"></script>
		<script type="text/javascript" src="/js/title-background-image.js"></script>

		<meta name="google-site-verification" content="LTsjjGAmQTNUAqQvWuVHGwDLTI9IpnVjp-h89IOZcJ0" />
	</head>


	<body id="home">
		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>

		<!-- TODO: Add SDKs for Firebase products that you want to use
		     https://firebase.google.com/docs/web/setup#available-libraries -->
		<script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-analytics.js"></script>

		<script>
		  // Your web app's Firebase configuration
		  var firebaseConfig = {
		    apiKey: "AIzaSyBmcfbXEF2f3rf2Y05MiGPmQeiP5lTYCVE",
		    authDomain: "tpe-micropesanteur.firebaseapp.com",
		    databaseURL: "https://tpe-micropesanteur.firebaseio.com",
		    projectId: "tpe-micropesanteur",
		    storageBucket: "tpe-micropesanteur.appspot.com",
		    messagingSenderId: "898019375968",
		    appId: "1:898019375968:web:1740762e8c96ce3e453c05",
		    measurementId: "G-0N98Q4991K"
		  };
		  // Initialize Firebase
		  firebase.initializeApp(firebaseConfig);
		  firebase.analytics();
		</script>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-0N98Q4991K"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-0N98Q4991K');
		</script>
		
		<div class="w3-top">
			<div class="w3-bar w3-black w3-card">
				<a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" onclick="navPhone()" title="Menu de navigation"><i class="fa fa-bars"></i></a>

				<a href="/#home" class="w3-bar-item w3-button w3-padding-large">ACCUEIL</a>
				<a href="/introduction/#home" class="w3-bar-item w3-button w3-padding-large w3-hide-small">INTRODUCTION</a>

				<div class="w3-dropdown-hover">
					<button class="w3-button w3-padding-large w3-hide-small" onclick="document.location='/partie_I/#home'">
						PARTIE I <i class="fa fa-caret-down"></i>
					</button>
					<div class="w3-dropdown-content w3-card-4 w3-bar-block">
						<a href="/partie_I/#partie_A" class="w3-bar-item w3-button">Partie A</a>
						<a href="/partie_I/#partie_B" class="w3-bar-item w3-button">Partie B</a>
						<a href="/partie_I/#partie_C" class="w3-bar-item w3-button">Partie C</a>
						<a href="/partie_I/#partie_D" class="w3-bar-item w3-button">Partie D</a>
						<a href="/partie_I/#partie_E" class="w3-bar-item w3-button">Partie E</a>
						<a href="/partie_I/#partie_F" class="w3-bar-item w3-button">Partie F</a>
					</div>
				</div>

				<div class="w3-dropdown-hover">
					<button class="w3-button w3-padding-large w3-hide-small" onclick="document.location='/partie_II/#home'">
						PARTIE II <i class="fa fa-caret-down"></i>
					</button>
					<div class="w3-dropdown-content w3-card-4 w3-bar-block">
						<a href="/partie_II/#partie_A" class="w3-bar-item w3-button">Partie A</a>
						<a href="/partie_II/#partie_B" class="w3-bar-item w3-button">Partie B</a>
						<a href="/partie_II/#partie_C" class="w3-bar-item w3-button">Partie C</a>
						<a href="/partie_II/#partie_D" class="w3-bar-item w3-button">Partie D</a>
					</div>
				</div>

				<div class="w3-dropdown-hover">
					<button class="w3-button w3-padding-large w3-hide-small" onclick="document.location='/partie_III/#home'">
						PARTIE III <i class="fa fa-caret-down"></i>
					</button>
					<div class="w3-dropdown-content w3-card-4 w3-bar-block">
						<a href="/partie_III/#partie_A" class="w3-bar-item w3-button">Partie A</a>
						<a href="/partie_III/#partie_B" class="w3-bar-item w3-button">Partie B</a>
						<a href="/partie_III/#partie_C" class="w3-bar-item w3-button">Partie C</a>
					</div>
				</div>

				<a href="/conclusion/#home" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONCLUSION</a>
				<a href="/sources/#home" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SOURCES</a>
				</div>
			</div>
		</div>

		<!-- Navbar on small screens -->
		<div id="navPhone" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
			<hr />
			<a href="/introduction/#home" class="w3-bar-item w3-button w3-padding-large">INTRODUCTION</a>
			<hr />
			<a href="/partie_I/#home" class="w3-bar-item w3-button w3-padding-large">PARTIE I</a>
			<a href="/partie_II/#home" class="w3-bar-item w3-button w3-padding-large">PARTIE II</a>
			<a href="/partie_III/#home" class="w3-bar-item w3-button w3-padding-large">PARTIE III</a>
			<hr />
			<a href="/conclusion/#home" class="w3-bar-item w3-button w3-padding-large">CONCLUSION</a>
			<a href="/sources/#home" class="w3-bar-item w3-button w3-padding-large">SOURCES</a>
		</div>
