<%- include('header') %>

<!-- Header -->
<header class="w3-theme" id="myHeader">
	<i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>

	<div class="image-background-1 w3-center">
		<br />
		<h4 class="global-title w3-animate-bottom"><i>Voyager dans l’espace ?<br />Possible ... mais à quel prix ?</i></h4>
		<br />
	</div>
</header>
<!-- Fin du header -->
