<%- include('../inc/header') %>

		<!-- SOURCES -->
		<div class="w3-container w3-content w3-padding-64">
			<h3 class="main-title w3-center">
				SOURCES :
			</h3>







			<h3 class="main-title-2">
				Premières recherches :
			</h3>



			<h2 class="second-title">
				Introduction au sujet :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.nasa.gov/mission_pages/station/main/index.html">https://www.nasa.gov/mission_pages/station/main/index.html</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://cnes-xch.lesitevideo.net/enmicropesanteur/">http://cnes-xch.lesitevideo.net/enmicropesanteur/</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://proxima.cnes.fr/fr/en-micropesanteur">https://proxima.cnes.fr/fr/en-micropesanteur</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://fr.wikipedia.org/wiki/Lois_du_mouvement_de_Newton">https://fr.wikipedia.org/wiki/Lois_du_mouvement_de_Newton</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://books.google.fr/books?id=KYdpH5OLZmYC&pg=PA118&lpg=PA118&dq=micropesanteur&source=bl&ots=5xrhH27wKo&sig=NkvByA1_Q473EjGXnF81xj7cooU&hl=fr&sa=X&ved=0ahUKEwiDm5Pt8ozYAhVFtBQKHfhSCB8Q6AEIKDAA#v=onepage&q=nerf%20optique%20micropesanteur&f=false">Mini manuel de Biologie animale</a> par Anne-Marie Bautz, Alain Bautz et Dominique Chazard
			</p>

			<br /><br />
			<h2 class="second-title">
				Recherches basiques :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- Le magazine Le monde n°283
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- Science et Avenir n°838
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- Science et Avenir n°844
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- L'express n°3410
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.asc-csa.gc.ca/">http://www.asc-csa.gc.ca/</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://ston.jsc.nasa.gov/collections/trs/_techrep/SP-2005-6113.pdf">https://ston.jsc.nasa.gov/collections/trs/_techrep/SP-2005-6113.pdf</a>
			</p>











			<br /><br /><br /><br />
			<h3 class="main-title-2">
				I. L’impact de l’espace sur la santé et sur l’équipement :
			</h3>

			<h2 class="second-title">
				B. Qu’est-ce que la micropesanteur ?
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://phycol.chez-alice.fr/DESPREZ/phy_ch_5/pression/historic.htm">http://phycol.chez-alice.fr/DESPREZ/phy_ch_5/pression/historic.htm</a>
			</p>







			<br /><br /><br />
			<h2 class="second-title">
				C. Les effets de la micropesanteur sur l’organisme :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.futura-sciences.com/sante/actualites/vie-comprendre-atrophie-musculaire-mieux-traiter-5868/">http://www.futura-sciences.com/sante/actualites/vie-comprendre-atrophie-musculaire-mieux-traiter-5868/</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.toutsurlasarcopenie.fr/">http://www.toutsurlasarcopenie.fr/</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://proxima.cnes.fr/fr/cadmos-expert-en-micropesanteur">https://proxima.cnes.fr/fr/cadmos-expert-en-micropesanteur</a>
			</p>







			<br /><br /><br />
			<h2 class="second-title">
				D. L’absence d’atmosphère :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://philippe.boeuf.pagesperso-orange.fr/robert/astronomie/atmospheres.htm">http://philippe.boeuf.pagesperso-orange.fr/robert/astronomie/atmospheres.htm</a>
			</p>

			<br />
			<h2 class="underlined">
				Les effets des rayons UV :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.canada.ca/fr/sante-canada/services/securite-soleil/qu-est-que-rayonnement-ultraviolet.html">https://www.canada.ca/fr/sante-canada/services/securite-soleil/qu-est-que-rayonnement-ultraviolet.html</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://svt-3g.e-monsite.com/on-dit-uv-mais-c-est-quoi.html">http://svt-3g.e-monsite.com/on-dit-uv-mais-c-est-quoi.html</a>
			</p>







			<br /><br /><br />
			<h2 class="second-title">
				E. Les dangers du Soleil et le champ magnétique terrestre :
			</h2>

			<h2 class="underlined">
				Effets Soleil :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://news.nationalgeographic.com/2017/09/sun-solar-flare-strongest-auroras-space-science/">https://news.nationalgeographic.com/2017/09/sun-solar-flare-strongest-auroras-space-science/</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.who.int/uv/faq/uvhealtfac/fr/">http://www.who.int/uv/faq/uvhealtfac/fr/</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.solarstorms.org">http://www.solarstorms.org</a>
			</p>

			<br />
			<h2 class="underlined">
				Rayons cosmiques :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://sciencetonnante.wordpress.com/2012/03/12/des-rayons-cosmiques-tres-energetiques-trop-energetiques/">https://sciencetonnante.wordpress.com/2012/03/12/des-rayons-cosmiques-tres-energetiques-trop-energetiques/</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- Sophie PUJAS – <span style="text-decoration: underline;">La chasse aux rayons cosmiques</span> - Journal Le POINT, p. 97, N° 21197- 23 octobre 2014
			</p>

















			<br /><br /><br /><br />
			<h3 class="main-title-2">
				II. Comment se préparer sur Terre et comment limiter ces effets dans l’espace :
			</h3>

			<h2 class="second-title">
				A. Comment se préparer sur Terre ?
			</h2>

			<h2 class="underlined">
				1. Les centrifugeuses :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://cnes.fr/fr/media/r271529diapoentrainementphysiologique2gthumbnailpng">https://cnes.fr/fr/media/r271529diapoentrainementphysiologique2gthumbnailpng</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://cnes.fr/fr/media/prxmedes-centrifugeusejpg">https://cnes.fr/fr/media/prxmedes-centrifugeusejpg</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.universcience.tv/video-la-centrifugeuse-humaine-1807.html">http://www.universcience.tv/video-la-centrifugeuse-humaine-1807.html</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.medes.fr/fr/clinique-spatiale/les-equipements/la-centrifugeuse.html">http://www.medes.fr/fr/clinique-spatiale/les-equipements/la-centrifugeuse.html</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.esa.int/fre/ESA_in_your_country/France/Inauguration_de_la_centrifugeuse_humaine_de_MEDES">http://www.esa.int/fre/ESA_in_your_country/France/Inauguration_de_la_centrifugeuse_humaine_de_MEDES</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.nasa.gov/ames/research/space-biosciences/20-g-centrifuge">https://www.nasa.gov/ames/research/space-biosciences/20-g-centrifuge</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.universcience.tv/video-la-centrifugeuse-humaine-1807.html">http://www.universcience.tv/video-la-centrifugeuse-humaine-1807.html</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://fr.wikipedia.org/wiki/Force_centrifuge">https://fr.wikipedia.org/wiki/Force_centrifuge</a>
			</p>



			<br />
			<h2 class="underlined">
				2. Les bassins d’eau de la NASA :
			</h2>

			<h2 class="smallest-party">
				Le laboratoire à flottabilité neutre :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.esa.int/esaKIDSfr/SEM1MIR06FH_LifeinSpace_0.html">http://www.esa.int/esaKIDSfr/SEM1MIR06FH_LifeinSpace_0.html</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.futura-sciences.com/sciences/videos/entrainement-piscine-astronautes-iss-445/">https://www.futura-sciences.com/sciences/videos/entrainement-piscine-astronautes-iss-445/</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://french.peopledaily.com.cn/Sci-Edu/8273832.html">http://french.peopledaily.com.cn/Sci-Edu/8273832.html</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.nasa.wikibis.com/laboratoire_de_flottabilite_neutre.php">http://www.nasa.wikibis.com/laboratoire_de_flottabilite_neutre.php</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.digitalimmersion.com/fr/reference/nasa/">https://www.digitalimmersion.com/fr/reference/nasa/</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.wikiwand.com/fr/Laboratoire_de_flottabilit%C3%A9_neutre">http://www.wikiwand.com/fr/Laboratoire_de_flottabilit%C3%A9_neutre</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.usinenouvelle.com/article/la-nasa-prepare-ses-astronautes-a-la-chasse-">https://www.usinenouvelle.com/article/la-nasa-prepare-ses-astronautes-a-la-chasse-</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.nasa.gov/content/spacewalk-training-at-the-neutral-buoyancy-laboratory">https://www.nasa.gov/content/spacewalk-training-at-the-neutral-buoyancy-laboratory</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.nasa.gov/image-feature/neutral-buoyancy-laboratory">https://www.nasa.gov/image-feature/neutral-buoyancy-laboratory</a>
			</p>

			<br />
			<h2 class="smallest-party">
				La poussée d’Archimède :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://tpemarchersurleau.e-monsite.com/iii-les-conditions-de-l-homme-pour-marcher-sur-l-eau/1-la-masse.html">http://tpemarchersurleau.e-monsite.com/iii-les-conditions-de-l-homme-pour-marcher-sur-l-eau/1-la-masse.html</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.futura-sciences.com/sciences/definitions/physique-poussee-archimede-8127/">https://www.futura-sciences.com/sciences/definitions/physique-poussee-archimede-8127/</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.futura-sciences.com/sciences/definitions/physique-flottabilite-13184/">https://www.futura-sciences.com/sciences/definitions/physique-flottabilite-13184/</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.youtube.com/watch?v=_AMzFwdGe08">https://www.youtube.com/watch?v=_AMzFwdGe08</a>
			</p>

			<br />
			<h2 class="smallest-party">
				Pression :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.gecif.net/articles/mecanique/cours/relations_grandeurs_mecaniques_correction.pdf">http://www.gecif.net/articles/mecanique/cours/relations_grandeurs_mecaniques_correction.pdf</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://sciencesphy.free.fr/lycee/Seconde/UnitesPression.htm">http://sciencesphy.free.fr/lycee/Seconde/UnitesPression.htm</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.thelin.net/laurent/plongee/pression.html">http://www.thelin.net/laurent/plongee/pression.html</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.laphysique.net/phf/hydrostpr_f.htm">http://www.laphysique.net/phf/hydrostpr_f.htm</a>
			</p>



			<br />
			<h2 class="underlined">
				3. Les vols paraboliques et les vols 0G :
			</h2>

			<h2 class="smallest-party">
				Les vols 0G :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://tpemarchersurleau.e-monsite.com/iii-les-conditions-de-l-homme-pour-marcher-sur-l-eau/1-la-masse.html">http://tpemarchersurleau.e-monsite.com/iii-les-conditions-de-l-homme-pour-marcher-sur-l-eau/1-la-masse.html</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.futura-sciences.com/sciences/definitions/physique-poussee-archimede-8127/">https://www.futura-sciences.com/sciences/definitions/physique-poussee-archimede-8127/</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.futura-sciences.com/sciences/definitions/physique-flottabilite-13184/">https://www.futura-sciences.com/sciences/definitions/physique-flottabilite-13184/</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.youtube.com/watch?v=_AMzFwdGe08">https://www.youtube.com/watch?v=_AMzFwdGe08</a>
			</p>



			<br />
			<h2 class="underlined">
				4. Le système nerveux :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.sciencesetavenir.fr/sante/cerveau-et-psy/souffle-du-diable-quel-est-l-effet-de-la-drogue-des-voleurs-sur-le-cerveau_29563">https://www.sciencesetavenir.fr/sante/cerveau-et-psy/souffle-du-diable-quel-est-l-effet-de-la-drogue-des-voleurs-sur-le-cerveau_29563</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://campus.neurochirurgie.fr/spip.php?article162">http://campus.neurochirurgie.fr/spip.php?article162</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- Cours de SVT de seconde sur le rythme cardiaque
			</p>







			<br /><br /><br />
			<h2 class="second-title">
				B. Comment limiter ces effets dans l'espace :
			</h2>

			<h2 class="underlined">
				1. CADMOS :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://cadmos.cnes.fr/fr/web/CNES-fr/8783-mares.php">https://cadmos.cnes.fr/fr/web/CNES-fr/8783-mares.php</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://cadmos.cnes.fr/fr/web/CNES-fr/8908-mares.php">https://cadmos.cnes.fr/fr/web/CNES-fr/8908-mares.php</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://cadmos.cnes.fr/fr/web/CNES-fr/10062-presentation-du-cadmos.php">https://cadmos.cnes.fr/fr/web/CNES-fr/10062-presentation-du-cadmos.php</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://cadmos.cnes.fr/fr/web/CNES-fr/8774-role-du-cadmos.php">https://cadmos.cnes.fr/fr/web/CNES-fr/8774-role-du-cadmos.php</a>
			</p>



			<br />
			<h2 class="underlined">
				2. Les machines d’exercice quotidiens dans l’espace :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.asc-csa.gc.ca/fra/astronautes/vivre-dans-l-espace/activite-physique-dans-l-espace.asp">http://www.asc-csa.gc.ca/fra/astronautes/vivre-dans-l-espace/activite-physique-dans-l-espace.asp</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://cadmos.cnes.fr/fr/web/CNES-fr/8908-mares.php">https://cadmos.cnes.fr/fr/web/CNES-fr/8908-mares.php</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://cadmos.cnes.fr/fr/web/CNES-fr/8781-epm.php">https://cadmos.cnes.fr/fr/web/CNES-fr/8781-epm.php</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://cadmos.cnes.fr/fr/web/CNES-fr/8783-mares.php">https://cadmos.cnes.fr/fr/web/CNES-fr/8783-mares.php</a>
			</p>







			<br /><br /><br />
			<h2 class="second-title">
				C. Limiter les effets naturels :
			</h2>

			<h2 class="underlined">
				Limiter les UV :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://tpesanteastronaute.wordpress.com/la-protection-des-astronautes-contre-les-radiations/moyens-utilisees-pour-la-protection-des-radiations-spatiales/">https://tpesanteastronaute.wordpress.com/la-protection-des-astronautes-contre-les-radiations/moyens-utilisees-pour-la-protection-des-radiations-spatiales/</a>
			</p>



			<br />
			<h2 class="underlined">
				Limiter les radiations :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://tpesanteastronaute.wordpress.com/la-protection-des-astronautes-contre-les-radiations/moyens-utilisees-pour-la-protection-des-radiations-spatiales/">https://tpesanteastronaute.wordpress.com/la-protection-des-astronautes-contre-les-radiations/moyens-utilisees-pour-la-protection-des-radiations-spatiales/</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.air-cosmos.com/dosis-3d-cartographier-les-radiations-a-bord-de-l-iss-89427">http://www.air-cosmos.com/dosis-3d-cartographier-les-radiations-a-bord-de-l-iss-89427</a>
			</p>

















			<br /><br /><br /><br />
			<h3 class="main-title-2">
				III. Le futur de l’exploration spatiale :
			</h3>

			<h2 class="second-title">
				A. Les autres risques de l’exploration spatiale et le voyage sur Mars :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://cnes.fr/fr/mars-la-nouvelle-frontiere">https://cnes.fr/fr/mars-la-nouvelle-frontiere</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.futura-sciences.com/sciences/actualites/nasa-atmosphere-mars-sonde-maven-raconte-son-histoire-60382/">https://www.futura-sciences.com/sciences/actualites/nasa-atmosphere-mars-sonde-maven-raconte-son-histoire-60382/</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.sciencesetavenir.fr/tag_lieu/mars_4977/">https://www.sciencesetavenir.fr/tag_lieu/mars_4977/</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://maven.cnes.fr ">https://maven.cnes.fr </a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.linternaute.com/science/espace/dossiers/06/voyage-mars/6.shtml">http://www.linternaute.com/science/espace/dossiers/06/voyage-mars/6.shtml</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.sciencesetavenir.fr/espace/systeme-solaire/bientot-en-route-pour-mars-l-atterrisseur-insight-a-teste-ses-panneaux-solaires_120178">https://www.sciencesetavenir.fr/espace/systeme-solaire/bientot-en-route-pour-mars-l-atterrisseur-insight-a-teste-ses-panneaux-solaires_120178</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://cnes.fr/fr/media/comment-prepare-t-larrivee-de-lhomme-sur-mars">https://cnes.fr/fr/media/comment-prepare-t-larrivee-de-lhomme-sur-mars</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.huffingtonpost.fr/2016/03/03/homme-mars-obstacles-nasa-solutions-voyage_n_9372494.html">http://www.huffingtonpost.fr/2016/03/03/homme-mars-obstacles-nasa-solutions-voyage_n_9372494.html</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.huffingtonpost.fr/2016/03/03/homme-mars-obstacles-nasa-solutions-voyage_n_9372494.html">http://www.huffingtonpost.fr/2016/03/03/homme-mars-obstacles-nasa-solutions-voyage_n_9372494.html</a>
			</p>







			<br /><br /><br />
			<h2 class="second-title">
				B. Les futurs plans de la conquête spatiale :
			</h2>

			<h2 class="underlined">
				1. La fin de l’ISS :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.futura-sciences.com/sciences/actualites/astronautique-iss-elle-survivra-jusquen-2024-51497/">https://www.futura-sciences.com/sciences/actualites/astronautique-iss-elle-survivra-jusquen-2024-51497/</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.futura-sciences.com/sciences/actualites/utilisation-espace-iss-sera-t-elle-transformee-hotel-station-spatiale-lunaire-66211/">https://www.futura-sciences.com/sciences/actualites/utilisation-espace-iss-sera-t-elle-transformee-hotel-station-spatiale-lunaire-66211/</a>
			</p>



			<br /><br />
			<h2 class="underlined">
				2. Le nouveau budget de la NASA :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://www.lemonde.fr/donald-trump/article/2017/12/11/donald-trump-veut-renvoyer-des-astronautes-americains-sur-la-lune_5228204_4853715.html#f9aDoZiPFdVP2oqV.99">http://www.lemonde.fr/donald-trump/article/2017/12/11/donald-trump-veut-renvoyer-des-astronautes-americains-sur-la-lune_5228204_4853715.html#f9aDoZiPFdVP2oqV.99</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.whitehouse.gov/presidential-actions/presidential-memorandum-reinvigorating-americas-human-space-exploration-program/">https://www.whitehouse.gov/presidential-actions/presidential-memorandum-reinvigorating-americas-human-space-exploration-program/</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.futura-sciences.com/sciences/actualites/exploration-bientot-hommes-retour-lune-69612/ ">https://www.futura-sciences.com/sciences/actualites/exploration-bientot-hommes-retour-lune-69612/ </a>
			</p>



			<br /><br />
			<h2 class="underlined">
				3. Le retour sur la Lune :
			</h2>

			<h2 class="underlined">
				Chinois :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://space.skyrocket.de/doc_sdat/change-4-relay.htm ">http://space.skyrocket.de/doc_sdat/change-4-relay.htm </a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="http://space.skyrocket.de/doc_sdat/change-3.htm ">http://space.skyrocket.de/doc_sdat/change-3.htm </a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://fr.wikipedia.org/wiki/Chang%27e_4 ">https://fr.wikipedia.org/wiki/Chang%27e_4 </a>
			</p>

			<br />
			<h2 class="underlined">
				Japonais :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://ispace-inc.com/">https://ispace-inc.com/</a>
			</p>

			<br />
			<h2 class="underlined">
				ESA :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.techniques-ingenieur.fr/actualite/articles/lesa-aimerait-construire-un-village-sur-la-lune-29905/?utm_campaign=72-WQ-YYRACTU">https://www.techniques-ingenieur.fr/actualite/articles/lesa-aimerait-construire-un-village-sur-la-lune-29905/?utm_campaign=72-WQ-YYRACTU</a>
			</p>

			<br />
			<h2 class="underlined">
				Etats-Unis :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.thalesgroup.com/fr/global/activities/espace ">https://www.thalesgroup.com/fr/global/activities/espace </a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.nasa.gov/nextstep ">https://www.nasa.gov/nextstep </a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.futura-sciences.com/sciences/actualites/exploration-bientot-hommes-retour-lune-69612/ ">https://www.futura-sciences.com/sciences/actualites/exploration-bientot-hommes-retour-lune-69612/ </a>
			</p>



			<br /><br />
			<h2 class="underlined">
				4. Nouvelle ISS autour de la Lune :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.futura-sciences.com/sciences/actualites/utilisation-espace-apres-iss-station-spatiale-internationale-pres-lune-63709/">https://www.futura-sciences.com/sciences/actualites/utilisation-espace-apres-iss-station-spatiale-internationale-pres-lune-63709/</a>
			</p>



			<br /><br />
			<h2 class="underlined">
				5. La chasse aux astéroïdes :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.usinenouvelle.com/article/la-nasa-prepare-ses-astronautes-a-la-chasse-aux-asteroides.N227561">https://www.usinenouvelle.com/article/la-nasa-prepare-ses-astronautes-a-la-chasse-aux-asteroides.N227561</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.futura-sciences.com/sciences/definitions/univers-asteroide-870/">https://www.futura-sciences.com/sciences/definitions/univers-asteroide-870/</a>
			</p>



			<br /><br />
			<h2 class="underlined">
				6. Le retour des navettes spatiales ?
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.sncorp.com/what-we-do/dream-chaser-space-vehicle/">https://www.sncorp.com/what-we-do/dream-chaser-space-vehicle/</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.futura-sciences.com/sciences/actualites/dream-chaser-ariane-6-lancera-t-elle-mini-navette-dream-chaser-66745/">https://www.futura-sciences.com/sciences/actualites/dream-chaser-ariane-6-lancera-t-elle-mini-navette-dream-chaser-66745/</a>
				<br />&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://fr.wikipedia.org/wiki/Dream_Chaser">https://fr.wikipedia.org/wiki/Dream_Chaser</a>
			</p>



			<br /><br />
			<h2 class="underlined">
				7. SpaceX, le nouveau leader spatial :
			</h2>

			<p class="main-text">
				&nbsp;&nbsp;&nbsp;&nbsp;- <a class="w3-hover-text-green" href="https://www.challenges.fr/entreprise/comment-elon-musk-le-fondateur-de-paypal-est-devenu-la-terreur-de-l-espace_14687 ">https://www.challenges.fr/entreprise/comment-elon-musk-le-fondateur-de-paypal-est-devenu-la-terreur-de-l-espace_14687 </a>
			</p>

			<div class="main-text" style="padding-left: 35%; padding-top: 4%;">
				<a href="/#home" class="custom-button w3-button w3-black">
					<i class="fa fa-cog w3-margin-right"></i>Retour à l'accueil du TPE
				</a>
			</div>
		</div>
		<!-- FIN DES SOURCES -->

<%- include('../inc/footer') %>
