<%- include('../inc/header') %>








		<!-- Header -->
		<header class="w3-theme" id="myHeader">
			<i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>

			<div class="image-background-1 w3-center">
				<br />
				<h4 class="global-title w3-animate-bottom">CONCLUSION</h4>
				<i style="color: #cbcbcb;">
					<h1 class="w3-xlarge w3-animate-bottom">L’impact de l’espace sur la santé et sur l’équipement</h1>
				</i>
				<br />
			</div>
		</header>
		<!-- Fin du header -->


		<!-- Conclusion -->
		<div class="w3-content w3-container w3-padding-32">
			<h3 class="main-title w3-center">
				CONCLUSION :
			</h3>



			<!-- Conclusion -->
			<div class="sub-partie">
				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nous retiendrons donc que l’<b>espace</b>, endroit qui inspire tant de rêves, est <b>dangereux</b> pour les astronautes, le matériel, et qu’il est bien difficile d'anticiper tous les dangers.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mais les <b>progrès</b> actuels nous permettent de <b>mieux nous préparer sur Terre</b> grâce aux nombreux entrainements, de <b>limiter ces risques dans l’espace</b> grâce aux multiples nouveaux équipements ou encore de pouvoir imaginer un <b>futur spatial</b> au delà des limites actuelles. Du fait de toutes ces avancées, le <b>prix à payer</b> pour aller et revenir de l’espace est <b>maintenant faible</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En effet, dans la grande majorité des cas, les <b>conséquences des voyages</b> sur le corps humain vont<b> progressivement diminuer</b> jusqu’à disparaître.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De plus, les voyages spaciaux vont se <b>banaliser</b>. On peut déjà <b>éserver sa place</b> en tant que particulier pour des voyages organisés par des <b>sociétés privées</b>.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nous profitons de ce TPE pour rendre hommage à un astronaute américain, <b>John Young</b>, le neuvième à avoir <b>touché le sol lunaire</b>, qui est décédé le 8 janvier 2018 à l’âge de 87 ans. Il a prouvé tout au long de sa vie que <b>chacun peut réaliser ses rêves</b>, et que devenir astronaute est certes difficile mais que <b>voir la planète bleue d’une tout autre manière a une dimension magique</b>.
				</p>

				<blockquote>
					<i>Mon souvenir le plus fort, ce n'était pas d'être sur la Lune. C'était de voir la Terre. De l'émotion à l'état pur. Vue de là-haut, elle avait l'air si fragile.
					<br /><b>- Alan Shepard, le cinquième astronaute à avoir marché sur la Lune à son retour sur Terre, 1971</b></i>
				</blockquote>

				<p class="main-text w3-content">
					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Nous espérons qu’après avoir parcouru notre site, vous regarderez le ciel d’une toute autre manière et que vous aurez peut-être, vous aussi, envie de voyager dans les étoiles !</b>
				</p>
			</div>
			<!-- Fin de la conclusion -->



			<div class="main-text" style="padding-left: 35%; padding-top: 4%;">
				<a href="/sources/#home" class="custom-button w3-button w3-black">
					<i class="fa fa-cog w3-margin-right"></i>Accéder aux sources du TPE
				</a>
			</div>
		</div>


<%- include('../inc/footer') %>
